@keyframes fadeInUp {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(40px);
    opacity: 1;
  }
}

.animated-text {
  animation: fadeInUp 1s ease forwards;
}

.parent-div {
  display: flex;
  height: auto;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.form-ass {
  animation: fadeInUp 0.5s ease-out forwards;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Start with form invisible for animation */
}
.h2-ass {
  margin: 20px;
  padding: 10px;
  font-size: 30px !important;
}

.div-input-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.div-input-rubrics{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.div-input {
  width: 100%;
  padding: 15px;
}
.div-input-1 {
  width: 90% !important;
  margin: 10px;
}
.div-input-2 {
  /* width: 5% !important; */
  margin: 10px;
}

.button-ass {
  background-color: #adf3ad !important;
  color: #ffffff !important;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  display: block;
  width: 30%;
  margin-top: 20px;
}
.button-ass:hover{
  background-color: #8bee8b !important;
  cursor: pointer;
}