@keyframes fadeInUp {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(40px);
    opacity: 1;
  }
}
.exam-container {
  animation: fadeInUp 1s ease forwards;
  font-family: Arial, sans-serif;
  width: auto;
  // background: rgba(126, 78, 78, 0.5);
  // border-radius: 8px;
  // box-shadow: 10px 14px 16px rgba(6, 6, 6, 0.945);
  // opacity: 1; /* Start with form invisible for animation */
}

.question-display {
  margin-bottom: 5px;
  padding: 20px;
  // background: rgba(108, 160, 105, 0.5);
  // border-radius: 8px;
  // box-shadow: 10px 14px 16px rgba(6, 6, 6, 0.945);
  // opacity: 1; /* Start with form invisible for animation */
}

.question-display h3 {
  margin: 0 0 10px 0;
}

.question-display p {
  font-size: 16px;
  margin-bottom: 20px;
}
