.exam-container {
  font-family: Arial, sans-serif;
  width: 60% !important;
}

.question-display {
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 8px;
}

.question-display h3 {
  margin: 0 0 10px 0;
}

.question-display p {
  font-size: 16px;
  margin-bottom: 20px;
}

