.butten-nav{
    width: auto;

    //background-color: rgba(213, 220, 170, 0.869) !important;
    cursor: pointer;
    color: rgb(27, 27, 94) !important; 
}
.butten-nav:hover{
    cursor: pointer;
    color: white !important; 
    background-color: rgb(27, 27, 94) !important; 
}