.butten-nav{
    width: auto;
    //background-color: rgba(213, 220, 170, 0.869) !important;
    cursor: pointer;
}
.butten-nav:hover{
    cursor: pointer;
    background-color: rgba(94, 108, 4, 0.931) !important;
}