.butten-nav{
    width: auto;
    cursor: pointer;
    color: rgb(27, 27, 94) !important; 
}
.butten-nav:hover{
    cursor: pointer;
    color: white !important; 
    background-color: rgb(27, 27, 94) !important; 
}